PyYAML==6.0.3
anndata==0.13.4
annotated-types==0.8.0
array-api-compat==1.15.0
cloudpickle==3.1.2
contourpy==1.4.0
cycler==0.12.1
donfig==0.8.1.post1
fonttools==4.66.1
formulaic==1.2.2
formulaic-contrasts==1.0.0
google-crc32c==1.9.0
h5py==3.16.0
interface_meta==2.0.1
joblib==1.6.0
kiwisolver==1.5.1
legacy-api-wrap==1.5
matplotlib==3.11.2
msgspec==0.22.0
narwhals==2.26.0
natsort==8.4.0
numcodecs==0.17.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
pydeseq2==0.5.4
pyparsing==3.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.4
scikit-learn==1.9.1
scipy==1.18.1
scverse-misc==0.1.6
session-info2==0.4.2
session_info==1.0.1
six==1.17.0
stdlib-list==0.12.0
threadpoolctl==3.7.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.5
wrapt==2.5.0
zarr==3.4.0
